@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.2;
  font-weight: 400;

  color: rgb(0, 0, 0);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

header,
footer {
  @apply container mx-auto px-4 py-4 lg:px-20 lg:py-6
}

.section {
  @apply container mx-auto px-4 py-4 lg:px-20 lg:py-[60px]
}
